{% extends "core/base.html" %}

{% block postnorth %}
<script type="text/javascript" src="/static/javascripts/states.js" ></script>
{% endblock %}

{% block content %}


<div id="map-and-reps">
    <div id="map-viewer">

    </div>
    <div id="reps"></div>
</div>

<div>
    <form id="zip-form">
        <input id="zipcode" class="singular" name="zipcode" placeholder="[zipcode]" />
    </form>
	<form id="topic-form">
		<label id="topic-label" for="topic"></label>
		<input id="search" type="search" name="topic" class="singular" placeholder="[topic] eg: healthcare, penis" x-webkit-speech autofocus/>
	</form>
    <div id="subscribe">
        <form id="subscribe-form">
            <input id="subscribe-input" class="singular" type="email" name="subscribe" placeholder="[subscribe to this topic]" />
        </form>
    </div>
</div>

<!--
<ul id="topics" class="topics">
{% for topic in topics %}
	<li class="hoverable"><a href="/topic/{{ topic }}">{{ topic }}</a></li>
{% endfor %}
</ul>
-->
	
{% endblock %}

{% block postsouth %}

<script type="text/javascript" src="/static/javascripts/landing-map.js" ></script>


{% endblock %}

