{% extends "core/base.html" %}

{% block postnorth %}
<script type="text/javascript" src="/static/javascripts/states.js" ></script>
{% endblock %}

{% block content %}


<div id="map-and-reps">
    <div id="map-viewer">

    </div>
    <div id="reps"></div>
</div>

<div id="topic-form">
	<form>
		<label id="topic-label" for="topic"></label>
		<input id="topic" type="search" name="topic" placeholder="[topic] eg: healthcare, weiner" x-webkit-speech/>
	</form>
</div>

<!--
<ul id="topics" class="topics">
{% for topic in topics %}
	<li class="hoverable"><a href="/topic/{{ topic }}">{{ topic }}</a></li>
{% endfor %}
</ul>
-->
	
{% endblock %}

{% block postsouth %}

<script type="text/javascript" src="/static/javascripts/landing-map.js" ></script>


{% endblock %}

