<a href="/"><h1 id="logo"><img src="/static/images/agendatrends-logo_trans.png" alt="agenda trends" /></h1></a>

<nav id='navbar'>
	<ul>
		<li><a href="{{ link('landing') }}">home</a></li>
		<li><a href="{{ link('trends') }}">trends</a></li>
		<li><a href="{{ link('topics') }}">topics</a></li>
		<li><a href="{{ link('people') }}">people</a></li>
		<li><a href="{{ link('sources') }}">sources</a></li>
	</ul>
</nav>

<div id='currentUser'>
	{% if api.users.current_user() != none %}
		<b>{{ api.users.current_user().nickname() }}</b> | <a href="{{ api.users.create_logout_url('/') }}">Log Out</a>
	{% else %}
		<a href="{{ api.users.create_login_url('/') }}">Log In with Google</a>
	{% endif %}
</div>
