/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 115, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 28, ../../sass/screen.scss */
body {
  font-family: "Lucida Grande","Lucida Sans Unicode",arial,sans-serif;
}

/* line 31, ../../sass/screen.scss */
h2, h3 {
  font-family: Candara,georgia,serif;
}

/* line 36, ../../sass/screen.scss */
header {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #c0c0c0));
  background-image: -webkit-linear-gradient(#ffffff, #c0c0c0);
  background-image: -moz-linear-gradient(#ffffff, #c0c0c0);
  background-image: -o-linear-gradient(#ffffff, #c0c0c0);
  background-image: linear-gradient(#ffffff, #c0c0c0);
  height: 50px;
  border-bottom: 1px solid gray;
  -moz-box-shadow: #666666 0px -3px 1px;
  -webkit-box-shadow: #666666 0px -3px 1px;
  -o-box-shadow: #666666 0px -3px 1px;
  box-shadow: #666666 0px -3px 1px;
}
/* line 38, ../../sass/screen.scss */
header h1 {
  padding-left: 10px;
  float: left;
  width: 175px;
  font-size: 48px;
  border: 0px;
}
/* line 46, ../../sass/screen.scss */
header nav {
  margin-top: 16px;
  float: left;
  margin-left: 75px;
}
/* line 50, ../../sass/screen.scss */
header nav ul {
  list-style: none;
  display: inline;
}
/* line 53, ../../sass/screen.scss */
header nav ul li {
  padding-left: 4px;
  padding-right: 4px;
  list-style: none;
  display: inline;
}
/* line 63, ../../sass/screen.scss */
header #currentUser {
  margin-top: 21px;
  float: right;
  padding-right: 10px;
  clear: right;
  display: inline;
}
/* line 76, ../../sass/screen.scss */
header a:visited {
  color: #800b07;
}

/* line 83, ../../sass/screen.scss */
#content {
  padding-top: 25px;
  min-height: 550px;
  padding-bottom: 25px;
}

/* line 91, ../../sass/screen.scss */
a {
  color: #800b07;
}

/* line 95, ../../sass/screen.scss */
#wrapper {
  margin-left: auto;
  margin-right: auto;
}

/* line 100, ../../sass/screen.scss */
.topics {
  margin-top: 100px;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
  width: 500px;
}
/* line 107, ../../sass/screen.scss */
.topics li {
  border: 1px solid gray;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(50%, #d0d0d0), color-stop(100%, #ffffff));
  background-image: -webkit-linear-gradient(#ffffff, #d0d0d0, #ffffff);
  background-image: -moz-linear-gradient(#ffffff, #d0d0d0, #ffffff);
  background-image: -o-linear-gradient(#ffffff, #d0d0d0, #ffffff);
  background-image: linear-gradient(#ffffff, #d0d0d0, #ffffff);
  padding: 10px 0;
}
/* line 112, ../../sass/screen.scss */
.topics li.hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(50%, #a0a0a0), color-stop(100%, #ffffff));
  background-image: -webkit-linear-gradient(#ffffff, #a0a0a0, #ffffff);
  background-image: -moz-linear-gradient(#ffffff, #a0a0a0, #ffffff);
  background-image: -o-linear-gradient(#ffffff, #a0a0a0, #ffffff);
  background-image: linear-gradient(#ffffff, #a0a0a0, #ffffff);
}

/* line 118, ../../sass/screen.scss */
#results-feed {
  height: 300px;
}
/* line 119, ../../sass/screen.scss */
#results-feed h3 {
  padding-left: 2em;
}
/* line 122, ../../sass/screen.scss */
#results-feed div {
  height: 100px;
  overflow-y: auto;
}

/* line 130, ../../sass/screen.scss */
#map-and-reps {
  border: 20px solid #555555;
  -webkit-border-radius: 30px 30px;
  -moz-border-radius: 30px / 30px;
  -o-border-radius: 30px / 30px;
  -ms-border-radius: 30px / 30px;
  -khtml-border-radius: 30px / 30px;
  border-radius: 30px / 30px;
  width: 600px;
  height: 450px;
  margin-left: 50px;
  float: left;
  position: relative;
}

/* line 140, ../../sass/screen.scss */
#reps {
  position: absolute;
  top: 5px;
  left: 0px;
}
/* line 144, ../../sass/screen.scss */
#reps .rep {
  position: absolute;
}

/* line 149, ../../sass/screen.scss */
#subscribe {
  display: none;
  border: 20px solid #555555;
  -webkit-border-radius: 30px 30px;
  -moz-border-radius: 30px / 30px;
  -o-border-radius: 30px / 30px;
  -ms-border-radius: 30px / 30px;
  -khtml-border-radius: 30px / 30px;
  border-radius: 30px / 30px;
  width: 340px;
  height: 40px;
  margin-left: -20px;
  margin-top: -10px;
  float: left;
  padding: 10px;
}

/* line 166, ../../sass/screen.scss */
#map-viewer {
  width: 600px;
  height: 450px;
}

/* line 171, ../../sass/screen.scss */
.tooltip {
  display: none;
  background: url(/static/images/black.png) no-repeat;
  height: 109px;
  padding: 20px 10px 10px 20px;
  width: 209px;
  font-size: 11px;
  color: #FFF;
}
/* line 180, ../../sass/screen.scss */
.tooltip label {
  font-weight: bold;
}

/* line 185, ../../sass/screen.scss */
#zip-form {
  float: left;
  margin-top: 50px;
  margin-left: -20px;
  border: 20px solid #555555;
  -webkit-border-radius: 20px 20px;
  -moz-border-radius: 20px / 20px;
  -o-border-radius: 20px / 20px;
  -ms-border-radius: 20px / 20px;
  -khtml-border-radius: 20px / 20px;
  border-radius: 20px / 20px;
  padding: 10px;
}

/* line 195, ../../sass/screen.scss */
#topic-form {
  float: left;
  border: 20px solid #555555;
  margin-left: -20px;
  -webkit-border-radius: 20px 20px;
  -moz-border-radius: 20px / 20px;
  -o-border-radius: 20px / 20px;
  -ms-border-radius: 20px / 20px;
  -khtml-border-radius: 20px / 20px;
  border-radius: 20px / 20px;
  padding: 10px;
}
/* line 202, ../../sass/screen.scss */
#topic-form label {
  clear: both;
  display: block;
  margin-left: -999999px;
}

/* line 211, ../../sass/screen.scss */
input.singular {
  -webkit-appearance: textfield;
  clear: both;
  font-family: "Helvetica Neue", "arial", "sans-serif";
  font-size: 18px;
  font-weight: bold;
  border: 3px solid #C0C0C0;
  width: 325px;
  height: 35px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  -o-border-radius: 0px;
  -ms-border-radius: 0px;
  -khtml-border-radius: 0px;
  border-radius: 0px;
}

/* line 225, ../../sass/screen.scss */
footer {
  background: #C0C0C0;
  color: #555555;
}
/* line 10, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
footer html, footer body {
  height: 100%;
}
/* line 12, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
footer #root {
  clear: both;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -54px;
}
/* line 18, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
footer #root #root_footer {
  height: 54px;
}
/* line 20, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
footer #footer {
  clear: both;
  position: relative;
  height: 54px;
}
