/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

@import "compass/css3";
@import "compass/css3/gradient";

@import "compass/typography";

@import "compass/layout";

$primary-red: #FF6751;
$primary-green: #8CC63F;
$primary-blue: #6D84FF;
$link-blue: #007FC5;
$dark-gray: #8C8C8C;
$light-gray: #C4C4C4;
$text-color: #333333;

$header-height: 50px;
$footer-height: 25px;

$shadow-color: #CCCCCC;



#header {
	h1 {
		background: url(/static/images/agendatrends-logo.png) center no-repeat;
		margin-left: -1000px;
		font-size: 48px;
		border: 0px;
	}

	@include background-image(linear-gradient(#FFF,#C0C0C0));
	height: 50px;
	border-bottom: 1px solid gray;
	@include box-shadow(darken($shadow-color,40%) 0px -3px 1px);

}

#content {

	height: 500px;

}

a {
	color: $link-blue;
}

#container {
	width: 100%;
}

.topics {
	margin-top: 100px;
	margin-left: 10%;
	margin-right: 10%;
	text-align: center;
	width: 500px;

	li {
		border: 1px solid gray;
		@include background-image(linear-gradient(#FFF,#D0D0D0,#FFF));
		padding: 10px 0;
	}
	li.hover {
		@include background-image(linear-gradient(#FFF,#A0A0A0,#FFF));

	}
}

#results-feed {
	h3 {
		padding-left: 2em;
	}
	div {
		height: 100px;
		overflow-y: auto;
	}

	height: 300px;
}

#map-and-reps {
	border: 20px solid #555555;
	@include border-radius(30px, 30px);
	width: 450px;
	height: 450px;
	margin-left: 15%;
	float: left;
    position: relative;
}

#reps {
    position: absolute;
    top: 5px;
    left: 0px;


}



#map-viewer {
    width: 450px;
    height: 450px;
}

.tooltip {
    display: none;
    background: url(/static/images/black.png) no-repeat;
    height: 109px;
    padding: 20px 10px 10px 20px;
    width: 209px;
    font-size: 11px;
    color: #FFF;

    label {
        font-weight: bold;
    }
}

#topic-form {
	float: left;
	border: 20px solid #555555;
	@include border-radius(20px, 20px);
	margin-top: 175px;
	margin-left: -15px;
	padding: 25px;

	label {
		clear: both;
		display: block;
		margin-left: -999999px;
	}

	input {
		clear: both;
		font-family: "Helvetica Neue", "arial", "sans-serif";
		font-size: 18px;
		font-weight: bold;
		border: 3px solid #C0C0C0;
		width: 325px;
		height: 24px;
		@include border-radius(5px);
	}
}



#footer {
	@include sticky-footer(54px);
	background: #C0C0C0;
	color: #555555;
}
