<!doctype html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->

<head>
	<!-- North -->
	{% block north %}
		{% block prenorth %}{% endblock %}
		{% include "snippets/__north.html" %}
		{% block postnorth %}{% endblock %}
	{% endblock %}
</head>

<body>

	<!-- Content -->
	<div id='wrapper'>
		{% block content %}<b>content!</b>{% endblock %}
	</div>

	<!-- South -->
	{% block south %}
		{% block presouth %}{% endblock %}
		{% include "snippets/__south.html" %}
		{% block postsouth %}{% endblock %}
	{% endblock %}

</body>
</html>